# Game Name: Guess the Anime!
# Developed by NTValila for IS215

import random
import os
import openai
openai.organization = "ORG"
openai.api_key = "OPEN_API_KEY"
openai.Model.list()

# Start of game proper #

print("Guess the Anime!")

categories = ['shonen', 'seinen', 'shoujo', 'mecha anime',
         'josei', 'harem', 'isekai', 'iyashikei',
         'sci-fi anime', 'fantasy anime', 'magical girl anime', 'detective anime']

category = random.choice(categories)

print("The anime category is:" + category)

messages = {"role": "system", "content": "You are a kind and helpful assistant"}

word=[{"role":"system", "content": "Give one title of anime in the genre" + str(category) + "Do not include parenthesis and explanations"}]

game = openai.ChatCompletion.create(
    model="gpt-3.5-turbo",
    messages=word
)

correctword = game.choices[0].message.content

fact=[{"role":"user", "content": "Give bulleted fifteen clues about the anime " + str(correctword) + "Replace all " +str(correctword) + "with the word 'it'. End each sentence with a period."}]

gameclue = openai.ChatCompletion.create(
    model="gpt-3.5-turbo",
    messages=fact
)

clue = gameclue.choices[0].message.content


clue_to_array = clue.split(".")
clue_to_array = clue_to_array[ : -1]


turns = 9
guess = input("Player: ")

while turns > 0:
    failed = 0

    if guess.lower() == correctword.lower():
        print("You are right!")
        print("The title of the anime is:")
        print(correctword)
        print("Thank you for playing.")

        play_again = input("Do you want to restart? [y/n]: ")
        if play_again == "y":
            exec(open("./main.py").read())
        else:
            exit()

    elif guess.lower() != correctword.lower():
        print("Try again.")
        turns -= 1
        print("You have", + turns, 'more turns')

        print(random.choices(population=clue_to_array, k=1))
        guess = input("Guess the anime:")

        if turns < 1:
            print("You lose!")
            print("The correct answer is " + correctword)

            play_again = input("Do you want to restart? [y/n]: ")
            if play_again == "y":
                exec(open("./main.py").read())
            else:
                exit()
                
                
